<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/textbase.css">
<link rel="stylesheet" type="text/css" href="static/css/Navigation.css">
<link rel="stylesheet" href="static/editor.md/css/editormd.min.css">
<script src="static/editor.md/editormd.min.js"></script>
<script type="text/javascript">
	//初始化编辑器
	var testEditor;
	$(function () {
		testEditor = editormd("txtblogcontent", {
			width: "100%",
			height: "1000px",
			path: '/static/editor.md/lib/',
			theme: "dark",
			previewTheme: "dark",
			editorTheme: "pastel-on-dark",
			markdown: "",
			codeFold: true,
			//syncScrolling : false,
			saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
			searchReplace: true, 
			watch : true,                // 开启实时预览
			htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
			//toolbar  : false,             //关闭工具栏
			//previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
			emoji: true,
			taskList: true,
			tocm: true,         // Using [TOCM]
			tex: true,                   // 开启科学公式TeX语言支持，默认关闭
			flowChart: true,             // 开启流程图支持，默认关闭
			sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
			dialogLockScreen : true,   // 设置弹出层对话框不锁屏，全局通用，默认为true
			//dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
			//dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
			//dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
			//dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
			imageUpload: true,
			imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
			imageUploadURL: "/Center/RichTextUpload",
			onload: function () {
				//console.log('onload', this);
				//this.fullscreen();
				//this.unwatch();
				//this.watch().fullscreen();

				//this.setMarkdown("#PHP");
				//this.width("100%");
				//this.height(480);
				//this.resize("100%", 640);
			}
		});
	});

	//获取编辑器内容
	var content = encodeURIComponent(testEditor.getMarkdown());
</script>
<!--
 <link href="/static/editor.md/css/editormd.min.css" rel="stylesheet" />
 <script src="/static/editor.md/lib/marked.min.js"></script>
 <script src="/static/editor.md/lib/prettify.min.js"></script>
 <script src="/static/editor.md/lib/raphael.min.js"></script>
 <script src="/static/editor.md/lib/underscore.min.js"></script>
 <script src="/static/editor.md/lib/sequence-diagram.min.js"></script>
 <script src="/static/editor.md/lib/flowchart.min.js"></script>
 <script src="/static/editor.md/lib/jquery.flowchart.min.js"></script>
 <script src="/static/editor.md/editormd.min.js"></script>
 <script type="text/javascript">
	var testEditor;
	$(function () {
		testEditor = editormd.markdownToHTML("txtblogcontent", {
			htmlDecode: "style,script,iframe",  // you can filter tags decode
			emoji: true,
			taskList: true,
			tex: true,  // 默认不解析
			flowChart: true,  // 默认不解析
			sequenceDiagram: true,  // 默认不解析
			codeFold: true,
	}));
 </script>
-->








     {% if title %}
        <title>{{title}} - 博客</title>
        {% else %}
        <title>欢迎来到博客!</title>
        {% endif %}
 </head>
<body >
	<ul class="ul">
	<li class="li">导航：<a href="{{ url_for('index') }}">首页</a></li>
	<div class="dropdown">
	<li class="li"><a href="#">文章</a></li>
        	 <div class="dropdown-content">
         	<a href="#">1</a>
         	 <a href="#"> 2</a>
        	 <a href="#">3</a>
 	</div>
	 </div>
	{% if current_user.is_anonymous %}
        <li class="li"><a href="{{url_for('login')}}">登录</a></li>
        {% else %}
        <li class="li"><a href="{{ url_for('user', username=current_user.username) }}">用户中心</a></li>
	<li class="li"><a href="{{url_for('article')}}">编辑</a></li>
        <li class="li"><a href="{{url_for('logout')}}">退出登录</a></li>
        {% endif %}
	<li class="li"><a href="#">关于我</a></li>
        </ul>
	 {% with messages = get_flashed_messages() %}
           {% if messages %}
            <ur>
                {% for message in messages %}
                    <li>{{ message }}</li>>
                {% endfor %}
            </ur>
           {% endif %}         
       {% endwith %}
	<div class="left">
		<div class="portrait"> 
		</div>
		<p>Phoenix's blog
		<br>君子不行陌路
		<hr>
		</p>
	</div>
	<div class="left2">
	<h1>友情链接</h1>
	<ul class="">
	<li class="vertical"><a href="https://www.liaoxuefeng.com/wiki/1016959663602400">python学习</a></li>
	<li class="vertical"><a href="http://jsrun.net/new?v=2">JSRUN</a></li>
	<li class="vertical"><a href="https://www.patest.cn/practice">PAT</a></li> 
	</ul>
	</div>

		{% block content %}
		{% endblock %}

<script opacity="1" color="50,250,205" pointColor="0,255,255"count="400" src="https://cdn.bootcss.com/canvas-nest.js/2.0.4/canvas-nest.js"></script>
</body>
</html>

